.settings-page {
    padding: 2rem;
    background-color: rgb(180, 178, 226);
}

.settings-div {
    background-color: rgb(198, 196, 237);
    padding: 2rem;
    border-radius: 1rem;
}

h1 {
    color: #3a4079;
}

form {
    padding: 1.5em;
    max-width: 40em;
    margin: auto auto;
    padding: 1rem;
}

.container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.container>* {
    width: 80%;
    min-width: 11em;
    max-width: 35em;
}


button {
    width: 70%;
    background-color: rgb(105, 101, 166);
    border: none;
    padding: .7rem;
    color: whitesmoke;
    border-radius: .4rem;
    cursor: pointer;
}

button:hover {
    opacity: .85;
}

.error {
    color: rgba(255, 0, 0, 0.704);
}