h1 {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    background-color: rgb(180, 178, 226);
    padding-top: 2em;
    padding-bottom: 2rem;
}

form {
    padding: 1.5em;
    min-width: 20em;
    max-width: 40em;
}

.container {
    padding: 4em;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 18em;
    border-radius: 8px;
    background-color: #8189d1;
    color: rgb(231, 231, 231);
    vertical-align: middle;
}

.container>* {
    width: 80%;
    min-width: 15em;
    max-width: 35em;
}

.login-alternative-div {
    text-align: center;
}

button {
    width: 70%;
    background-color: rgb(105, 101, 166);
    border: none;
    padding: .7rem;
    color: whitesmoke;
    border-radius: .4rem;
    cursor: pointer;
}

button:hover {
    opacity: .85;
}

.error {
    color: rgb(168, 0, 0);
}

input::placeholder {
    color: rgb(231, 231, 231);
}