.page {
    padding: 2rem;
}

.stats {
    background-color: rgb(198, 196, 237);
    border-radius: 1rem;
    color: #3a4079;
    padding: 2rem;
}

.title {
    font-size: 1.9rem;
    text-align: center;
    padding-bottom: 2rem;
}

.since {
    font-size: 1.1rem;
    text-align: center;
    padding-top: 2rem;
}