<div class="page">
    <div class="stats">
        <div class="title">Stats</div>

        <h1>Total distance ridden: {{getTotalDistanceRidden()}} km</h1>
        <h1>Total distance walked: {{getTotalDistanceWalked()}} km</h1>
        <h1>Total distance climbed by bike: {{getTotalDistanceClimbedByBike()}} km</h1>
        <h1>Total distance climbed by feet: {{getTotalDistanceClimbedByFeet()}} km</h1>
        <h1>Routes created: {{getNoOfRoutesCreated()}}</h1>

        <div class="since">Member since {{getMemberSince()}}</div>
    </div>
</div>