<div class="my-footer">
    <div class="footer-content">
        <h2>
            <span class="material-icons">pedal_bike</span>
            Hiking Routes
        </h2>

        <p>This app was made for those who love walking and riding in nature. Here you can track your journeys and
            see others'. Ride safely and be careful to wild animals!</p>

        <h2>Quick links</h2>

        <ul class="quick-links">
            <li><a href="/">Home</a></li>
            <li><a href="/map">New Journey</a></li>
            <li><a href="/browse-routes">Explore</a></li>
        </ul>
    </div>

    <div class="credit">
        <span>Mandea Alexandru</span>
        -
        <span class="material-icons">pedal_bike</span>
        Hiking Routes, 2022
    </div>
</div>