div {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem
}

div input {
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 65%;
    max-width: 33rem;
    background-color: rgb(240, 240, 240);
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

div button {
    color: grey;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #2965e7;
    color: white;
    outline: none;
    opacity: .9;
}

div button:hover {
    background-color: #4c81f6;
    cursor: pointer;
}